<main>
    <h1>Historical Standard Gauntlet</h1>

    <form action="/randompair" method="GET">
        <input type="submit" value="Generate Random Pairing">
    </form>

    <form action="/logresult" method="GET">
        <input type="submit" value="Log a result">
    </form>

    <form action="/standings" method="GET">
        <input type="submit" value="Standings">
    </form>

    <form action="/decks" method="GET">
        <input type="submit" value="Decks">
    </form>

</main>